/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --white: #ffffff;
  --bg:#957bd7;
  --pastel-light:#eccffa; /* lightest */
  --pastel-1: #e7b2ff;
  --pastel-2: #dbb2ff;
  --pastel-3: #d0b2ff;
  --pastel-4: #c8b2ff;
  --pastel-5: #b5b2ff; /* darkest */
}
 /* CSS Reset */

 html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: "Inter", sans-serif;
   color: var(--white);
   scroll-behavior: smooth;
 }

body {
  background-color: #daccff;
}

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Rubik", sans-serif;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
   margin: 0;
   padding: 0;
 }

 ol,
 ul {
   list-style: none;
 }

 img {
   max-width: 100%;
   height: auto;
 }

 input,
 button,
 textarea,
 select {
   font: inherit;
 }

 /* Utilities */
 .display-none {
   display: none;
 }

 /* Components */

 /* btn-primary */
 .btn-primary {
   padding: 12px 16px;
   display: inline-block;
   text-decoration: none;
   color: var(--white);
   border-radius: 4px;
   background-color:#d0b2ff;
   transition: all 0.3s ease;
 }
 
 .btn-primary:hover {
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
 }

 /* header */
 header .mobile-header {
   padding: 16px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
 }

 header button {
   all: unset;
 }

 @media (min-width: 768px) {
   header {
       display: flex;
       align-items: center;
       justify-content: flex-end;
   }

   header nav ul {
       display: flex;
       gap: 24px;
       margin-right: 16px;
   }

   header .mobile-header .hamburger-icon {
       display: none;
   }
 }

 /* .mobile-nav */
 .mobile-nav a {
   text-decoration: none;
   color: var(--white);
   display: block;
  padding: 4px 16px;
 }
 
 /* .desktop-nav */
 .desktop-nav {
   display: none;
 }

 @media (min-width: 768px) {
   .desktop-nav a {
       text-decoration: none;
       font-size: larger;
       color: var(--white);
   }
 
   .desktop-nav {
       display: inline-block;
   }
 }

 /* .hamburger-icon  */
 .hamburger-icon {
   height: 50px;
 }

/* About Me Page */


/* .hero */
.hero {
padding: 32px 20px;
background-color: #dbb2ff;
border-radius: 30px;
margin: 30px 50px;
}

.hero h1 {
font-size: 2rem;
margin-bottom: 24px;
}

.hero h2 {
font-size: 1rem;
margin-bottom: 24px; 
}

/* article */
article {
padding: 32px 20px;
border-radius: 30px;
margin: 20px 30px;
}

.fact1 {
background-color:#b4b1ff;
}

.fact2 {
background-color:#a4a1f8;
}

.fact3 {
background-color:#8f8bf0;
}

article:hover {
transform: scale(1.1); /* zoom in slightly on hover */
transition: transform 0.3s ease;
}

article h2 {
margin-bottom: 16px;
color:#513d81;    
}

article p {
margin-bottom: 16px; 
color:#513d81;  
}

/* Project Page */

.project {
    padding: 32px 20px;
    border-radius: 30px;
    margin: 20px 30px;
    background-color:var(--pastel-5);
}

project h2 {
margin-bottom: 16px;    
}

project p {
margin-bottom: 16px; 
}